nav {
  background-color: inherit;
  width: 100%;
  position: sticky;
  top: 0;
  height: 9vh;
  height: 9dvh;

  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 2vh;
  gap: 2vh;

}
